<!-- /.modal-content -->
<div class="modal-content">
  <div class="modal-header">
    <a ui-sref="^" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <p>You have {{modal.routes.length}} routes&hellip;</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-default" ui-sref="^">Close</a>
    <a class="btn btn-primary" ui-sref="^" ng-click="modal.saveChanges()">Save changes</a>
  </div>
</div>
